* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/assets/img/background-body.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* Navbar */
.active {
    color: #cc5200;
}

/* HOME */
#gtc {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

/* Continents Equipe */
#team_form input[type="radio"]:checked + span {
    background-color: #ffb383;
    color: white;
  }

#team_form input[type="radio"]:hover + span {
    background-color: #ffb383;
    color: white;
  }


/* Role Joueur */
  #player_form input[type="radio"]:checked + span,
  #edit_player_form input[type="radio"]:checked + span,
  #edit_team_form input[type="radio"]:checked + span  {
    background-color: #ffb383;
    color: white;
  }

#player_form input[type="radio"]:hover + span,
#edit_player_form input[type="radio"]:hover + span,
#edit_team_form input[type="radio"]:hover + span {
    background-color: #ffb383;
    color: white;
  }


/* Bg Europe */
.pays {
    background-position: 90%;
    background-size: contain;
    background-repeat: no-repeat;
}

