* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/assets/img/background-body.png');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    height: 200vh;
}
