* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/assets/img/background-body.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#team_form input[type="radio"]:checked + span {
    background-color: #ffb383;
    color: white;
  }

#team_form input[type="radio"]:hover + span {
    background-color: #ffb383;
    color: white;
  }
